.header {
	text-align:center;
	font-weight:bold;
	font-size: 30px;
}

#animal {
	text-align:center;
	font-weight:bold;
	font-size: 15px;
}

.formLogin {
	text-align:center;
}

.post {
	border: 1px solid black;
}

.titolo {
	font-weight: bold;
	font-size: 17px;
	background-color: #4BCAFF;
}

.contenuto {
	background-color: #58FFD6;
	padding: 10px 0px;
}

.footer {
	background-color: #4BCAFF;
}
